$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-stack: 'Clicker Script', cursive;

@import 'sass-bootstrap/lib/bootstrap';


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin boxshadow() {
  -webkit-box-shadow: 0px 10px 26px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 10px 26px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 10px 26px rgba(50, 50, 50, 0.75);
}

@mixin background($start, $end) {
    background: -moz-linear-gradient(
		top,
		$start 0%,
		$end);
    background: -webkit-gradient(
		linear, left top, left bottom,
		from($start),
		to($end));
}

@mixin transitions($type, $timeInSec) {
    transition:  $type, $timeInSec;
    -webkit-transition:  $type, $timeInSec;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url('../img/linen.jpg');
    background-color: #F0F5F1;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.phone_button {
    margin : 0px;
    color : #4F6851;
    font-family: $font-stack; 
    font-weight: bold;
    @include boxshadow;
    @include background(#f0f0e8, #abc9ac);
    @include border-radius(5px);
    padding : 0.2em;
}

#header {
	background-color: #849788;
	color : #FFF;
	padding-top : 0.3em;
	padding-left : 0.2em;
	font-family: 'Clicker Script', cursive;
	font-size : 2em;
	font-weight: 900;
	text-shadow: 2px 2px #4F6851;
	border-bottom : solid 2px #FFF;
	position:fixed;
        top : 0px;
        left : 0px;
        width : 100%;
} 

#menu {
	display:flex;
	flex-direction: column;
	position : fixed;
	top : 0px;
	right : 0px;
	z-index: 1;
}

@media (min-width: 768px) {
	#menu {
		flex-direction: row;
	}	
}



#menu a {
	font-size: larger;
	font-weight: 900;
	color : #4F6851;
	background-color: #FFF;
	border-color: #222;
	font-family: $font-stack;
	padding : 0.5em;
	margin: 0.24em;
	text-decoration:none;
	
	@include boxshadow;
        @include background(#f0f0e8, #abc9ac);
	@include border-radius(5px);
}

@media (min-width: 768px) {
	#menu a {
		margin: 0.1em;
	}
}



#menu a:hover {
	color: #000;
        font-weight: bolder;
	@include boxshadow;
        @include background(#f0f0e8, #8AA38B);
}

.recipies {
	display:flex;
	flex-direction: column;
	list-style-type:none;
}

@media (min-width: 768px) {
    .recipies {
        flex-direction: row;
    }
}

ul {
 padding : 0em;
 margin : 0em;
 }

.recipies li {
		margin : 0.1em;
		width : 275px;
		overflow : hidden;
		@include boxshadow;
                @include border-radius(10px);
		
		padding : 0px;
		min-height : 275px;
		height : 275px;
}

@media (min-width: 768px) {
	.recipies li {
		margin : 1em;
		
	}
}

.recipe_display img{
	height : 275px;
        curser:pointer;
}


.recipe_display div {
	background-color : #FFF;
	padding:0.1em;
        margin: 0px;
	opacity: 0.8;
	position : relative;
	top : -4.5em;
	height : 4.5em;
	overflow : hidden;
        @include transitions(opacity, 2s)
}

.recipyDesc {
    font-size: 0.8em;
}

@media (min-width: 768px) {
	.recipe_display div {
            opacity : 0;
	}
	.recipe_display img:hover + div {
            opacity : 1;
        }
}

.recipe_display div {
    margin : 0px;
}

div.recipe_display  {
	color : #10490E;
	padding:0px;
       
	margin: 0px;
        text-decoration: none;
}

div.recipe_display div {
    color: #000;
    font-family: sans-serif;
    font-size : 0.8em;
    padding-left: 2px;
}

div.recipe_display div H3 {
    color : #10490E;
    padding:0px;
    margin: 0px;
    font-family: $font-stack;
    font-weight: bold;
    font-size: 2em;
}

.recipe_instructions {
	display : none;
}

.container {
    display: flex;
    flex-direction : column;
}

.hideIngrediens {
    display : none;
}

.hideDirections {
    display : none;
}

@media (min-width: 768px) {
    .container {
        flex-direction : row;
        padding-top: 15px;
    }
    
    .phone_button {
        display:none;
    }
    
    .hideIngrediens {
        display : block;
    }
    
    .hideDirections {
        display : block;
    }
}

.containersub {
    display: flex;
    flex-direction : column;
}

.recipy_background img {
    height: 300px;
    padding: 0px;
    margin: 0px;
    @include border-radius(5px);
    
}
    
.recipy_background h2 {
   font-family: $font-stack; 
   font-weight: bold;
   margin : 0.1em;
}

.recipy_background {
    font-family: sans-serif;
    font-size: 0.8em;
    @include boxshadow;
    @include background(#9C9C56, #D3D3AB);
    @include border-radius(5px);
    padding : 0.2em;
    overflow: hidden;
}

.phone_button {
    margin : 0px;
    color : #4F6851;
    font-family: $font-stack; 
    font-weight: bold;
    @include boxshadow;
    @include background(#f0f0e8, #abc9ac);
    @include border-radius(5px);
    padding : 0.2em;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 80%;
  width: 80%;
  margin : auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.searchResults {
    display: flex;
    
}

.searchResults img {
    height: 150px;
    padding: 0px;
    margin: 3px;
    @include border-radius(5px);
    @include boxshadow;
}

.searchBox {
    display: flex;
    margin-top : 21px;
}

.searchImg {
    height : 35px;
    cursor : pointer;
}

.searchControl img {
    height : 45px;
    cursor : pointer;
}

.searchControl input {
    height : 45px;
    cursor : pointer;
    @include border-radius(1em);
    padding-left: 1em;
    font-size: 1.1em;
}

.searchControl span {
    font-weight: bolder;
}





